.log-div{
    background: white;
    color: black;
    border-radius: 2px;
    margin-bottom:5px;
    animation-name: "fadein";
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.log-container{
    background: rgb(27, 27, 27);
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom:2%;
    border-radius: 10px;
}
.title{
    color:white
}
.item{
    font-size: 18px;
    padding:5px;
    margin-top: 5px;
    padding-top:0px;
}
.note{
    padding-right:10px;
    transition-duration: .25s;
    height:65%;
    border-radius: 5px;
}
.note:hover{
    background:rgb(151, 151, 151)
}

@keyframes fadein{
    from {opacity:0;
    height:0px}
    to {opacity:1;
    height:40px}
  }

.delete{
    margin-top:5px;
    background:salmon;
    color: #555555;
    border-radius: 10px;
    transition-duration: .5;
    /* animation-name: "fadein";
    animation-duration: 1s;
    animation-fill-mode: forwards; */
}

.delete-text{
    font-size:px;
    font-weight: bold;
    margin-bottom: 0px;
    
}

.delete:hover{
    background:red
}