.log-div{
    background: rgb(243, 228, 223);
    border-radius: 10px;
    margin-bottom:5px;
    opacity:0;
    animation-name: "fadein";
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes fadein{
    from {
        opacity:0;
        height:0px;}
    to {opacity:1;
        height:5%}
  }

.delete{
    background:salmon;
    color: #555555;
    transition-duration: .25;
    animation-name: "fadein";
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.delete-text{
    font-size:px;
    font-weight: bold;
    margin-bottom: 0px;
    
}

.delete:hover{
    background:red
}